{% load i18n %}
{% load ace %}

<p>
    {# email client support for style sheets is pretty spotty, so we have to inline all of these styles #}
    <a
    {% if reset_url %}
        href={{reset_url}}
    {% elif course_cta_url %}
        href="{% with_link_tracking course_cta_url %}"
    {% else %}
        {%if course_ids|length > 1 %}
            href="{% with_link_tracking dashboard_url %}"
        {% else %}
            href="{% with_link_tracking course_url %}"
        {% endif %}
    {% endif %}
    style="
        box-sizing: border-box;
        margin: 0;
        font-family: inherit;
        overflow: visible;
        text-transform: none;
        -webkit-appearance: button;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 12px 24px;
        font-size: 1rem;
        line-height: 1.3333;
        border-radius: 0.375rem;
        color: #ffff;
        background-color: #007394;
        border-color: #007394;
        cursor: pointer;
        text-decoration: none;
    ">
    {# old email clients require the use of the font tag :( #}
        <font color="#fffff;"><b>{{ course_cta_text }}</b></font>
    </a>
</p>
