{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="box-shadow: 0px 0px 10px 2px #c8c8c8; width: 100%;">
        <tr>
            <td style="
            width: 100%;
            max-width: 800px;
            background-image: url(https://partner-courses.pearson.com/static/pearson-theme/images/IPbackground.svg);
            background-repeat: no-repeat;
            background-position: right center;
            padding-bottom: 40px;
            color: #000000;
            background-size: cover;
            margin: auto;
            text-align: center;
            padding: 20px;
        ">
            <img src="https://partner-courses.pearson.com/static/pearson-theme/images/logo.png" style="width: 150px; padding: 5px; display: inline !important;" />

            <div style="width: 90%;
                        text-align: left;
                        padding: 2% 5%;
                        background-size: 50%;
                        background-position: right bottom;
                        background-repeat: no-repeat;
                        padding-bottom: 35%;
                        ">

                <h1 style="font-family:'Playfair Display', serif; font-weight: 700;">
                    {% if class_name != none %}
                        You have been enrolled in <br/> {{ course_name }} <br/> {{ class_name }}
                    {% else %}
                        You have been enrolled in <br/> {{ course_name }}
                    {% endif %}
                </h1>
                <p style="padding: 0px;
                          width: 50%;
                          min-width: 300px;
                          margin-top: 20px;
                          ">
                    {% blocktrans %}You have been enrolled into a class by the course staff at {{ institution_name }}.{% endblocktrans %}
                    <br />
                </p>
                <p style="padding: 0px; width: 50%; min-width: 300px; margin-top: 20px;">
                    {% blocktrans with date=class_start_date %}Your class begins on: <strong>{{ class_start_date }}</strong>.{% endblocktrans %}
                    <br />
                </p>

                <p style="padding: 0px; width: 50%; min-width: 300px; margin-top: 20px;">
                    {% blocktrans with url=course_url %}
                        <a href="{{ course_url }}" target="_blank">Login here!</a> to access your course materials.
                    {% endblocktrans %}
                </p>
                <p style="padding: 0px; width: 50%; min-width: 300px; margin-top: 20px;">
                    <strong>New to Pearson Courses?</strong><br />{% trans "If you are new to Pearson Courses, you must first " %}
                    {% blocktrans with url=new_domain_url email=email_address %}
                    <a href="{{ registration_url }}" target="_blank">create your Pearson account</a><br />
                    Be sure to use your enrolled email address <strong>{{ email }}</strong><br />when creating your account.
                    {% endblocktrans %}
                </p>
                <p style="padding: 0px; width: 50%; min-width: 300px; margin-top: 20px;">
                    {% blocktrans with name=institution_name email=institution_admin_email %}
                        If you have questions about this enrollment, please send an email to the administrator at {{ name }}:
                        <a href="mailto:{{ institution_admin_email }}">{{ institution_admin_email }}</a>
                    {% endblocktrans %}
                </p>
                <p style="padding: 0px; width: 50%; min-width: 300px; margin-top: 20px;">
                    {% trans "The Pearson Team" %}
                </p>
                {% trans "Access the Course Materials" as course_cta_text %}
                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=course_url %}

            </div>
        </td>
    </tr>
</table>
{% endblock %}
